<% provide(:title, "Home") %>
<h1>CryptoTrader</h1>
<p>
  This is the CryptoTrader App developed in Ruby on Rails.
</p>
<p> Time:
<%= @responseValue["time"]["updatedISO"] %>
</p>
<p> Price in USD:  
<%= @responseValue["bpi"]["USD"]["rate"] %>
</p>

<div class="center jumbotron">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>