<h1>Portfolio</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% current_user.portfolio.first.attributes.each do |attribute, value| %>
        <th><%= attribute %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% current_user.portfolio.each do |portfolio_entry| %>
      <tr>
        <% portfolio_entry.attributes.each do |attribute, value| %>
        <td><%= value %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>